@import "../variables.css";

.root {
  border-bottom: 1px solid var(--brand-lightgrey);
}

.row {
  padding: 1em 0 0;
  max-width: var(--screen-lg-min);
  margin: 0 auto;
}

.title {
  display: block;
  margin-bottom: .5em;
}
