@import '../variables.css';

:root {
  --default-transition-duration: .4s;
  --default-border-radius: 3px;
}
/* Styles */
.container {
  position: relative;
  z-index: 10;
  display: block;
  width: 12em;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  background-color: var(--brand-white);
  /*font-family: var(--select-font-family);*/
  font-weight: 300;
  line-height: 1.5;
}

.triangle {
  position: absolute;
  top: 0.875em;
  right: 0.75em;
  width: 0.5em;
  height: 0.5em;
  content: '';
  transition: 0.4s;
  transform: rotate(45deg);
  border-top: 1px solid var(--brand-black);
  border-left: 1px solid var(--brand-black);
}

.group {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  transition: border var(--default-transition-duration);
  border-top: 0;
  background-color: var(--brand-white);
}

.option {
  position: relative;
  display: block;
  float: left;
  box-sizing: border-box;
  width: 100%;
  padding: 0.21em 1.75em 0.15em 0.75em;
  text-align: left;
  border: 0;
  border-right: 1px solid var(--brand-black);
  border-left: 1px solid var(--brand-black);
  background: none;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
}

.option:focus {
  outline: none;
}

.option:not(:last-child)::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 1.7em);
  height: 1px;
  content: '';
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--brand-black);
}

.option:not(:last-child) {
  border-bottom: 0;
}

.option:last-child {
  border-bottom: 1px solid var(--brand-black);
  border-bottom-right-radius: var(--default-border-radius);
  border-bottom-left-radius: var(--default-border-radius);
}

.current {
  transition: border-radius var(--default-transition-duration);
  border-top: 1px solid var(--brand-black);
  border-radius: var(--default-border-radius);
}

.container .current::after {
  width: calc(100% - 1px);
  transition: width var(--default-transition-duration);
  transform: translateX(-50%) translateY(-25%);
  border-radius: var(--default-border-radius);
}

.container__open .current {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.container__open .current::after {
  width: calc(100% - 1.7em);
}

.clearfix {
  clear: both;
}
