@import '../variables.css';

.node {
  position: absolute;
  overflow: hidden;
  font-family: var(--font-family-display);
  color: var(--brand-white);
  padding: 2rem;
  box-sizing: border-box;
  line-height: 1;
  background-color: var(--brand-color);
  transition: var(--transition-duration);
}

.widget {
  min-height: 66vh;
  position: relative;
  margin-right: -6em;
}

@media screen and (max-width: 940px) {
  .widget {
    margin-right: -1.5em;
  }
}

.partido {
  margin-top: 0;
  font-weight: 500;
  font-size: 0.7em;
  color: var(--brand-white);
}

.partido__hidden {
  opacity: 0;
}

.money {
  display: block;
  font-size: 2em;
  font-weight: 100;
  margin-top: 0.25em;
}

.money__hidden {
  opacity: 0;
}

.legendContainer {
  max-width: 700px;
  margin-right: 10%;
  padding-left: 1em;
}


.legend {
  max-width: 700px;
  margin-right: 10%;
  padding-left: 1em;
}
