<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= config.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto+Slab:100,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto+Slab:100,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <style>
      @import url("http://lasillavacia.com/modules/system/system.base.css?omcwh4");
    </style>
    <style>
      @import url("http://lasillavacia.com/modules/contextual/contextual.css?omcwh4");
    </style>
    <style>
      @import url("http://lasillavacia.com/sites/all/modules/simplenews/simplenews.css?omcwh4");
      @import url("http://lasillavacia.com/sites/all/modules/date/date_api/date.css?omcwh4");
      @import url("http://lasillavacia.com/modules/field/theme/field.css?omcwh4");
      @import url("http://lasillavacia.com/sites/all/modules/logintoboggan/logintoboggan.css?omcwh4");
      @import url("http://lasillavacia.com/modules/node/node.css?omcwh4");
      @import url("http://lasillavacia.com/sites/all/modules/views/css/views.css?omcwh4");
      @import url("http://lasillavacia.com/sites/all/modules/ckeditor/css/ckeditor.css?omcwh4");
      @import url("http://lasillavacia.com/sites/all/modules/admin_menu/admin_menu.css?omcwh4");
      @import url("http://lasillavacia.com/sites/all/modules/admin_menu/admin_menu_toolbar/admin_menu_toolbar.css?omcwh4");
      @import url("http://lasillavacia.com/modules/shortcut/shortcut.css?omcwh4");
    </style>
    <style>
      @import url("http://lasillavacia.com/sites/all/modules/ctools/css/ctools.css?omcwh4");
      @import url("http://lasillavacia.com/sites/all/modules/panels/css/panels.css?omcwh4");
      @import url("http://lasillavacia.com/sites/all/modules/panels/plugins/layouts/flexible/flexible.css?omcwh4");
      @import url("http://lasillavacia.com/sites/default/files/ctools/css/b2e5338b9e0089adecb90639f722b860.css?omcwh4");
    </style>
    <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.css" media="all" />
    <style>
      @import url("http://lasillavacia.com/sites/all/themes/bootstrap/css/3.3.5/overrides.min.css?omcwh4");
      @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/style.css?omcwh4");
      @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/color.css?omcwh4");
      @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/base.css?omcwh4");
      @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/lsv_custom.css?omcwh4");
      @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/responsive.css?omcwh4");
      @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/responsive-custom.css?omcwh4");
    </style>
    <style>
      @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/especiales.css?omcwh4");
      @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/css_custom/lsv.css?omcwh4");
    </style>
  </head>
  <body>
    <div id="silla-interactive-container"></div>
    <script src="<%= bundle %>"></script>
    <%_ if (!debug && config.trackingID) { _%>
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','<%= config.trackingID %>','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    <%_ } _%>
  </body>
</html>
