@import '../../components/variables.css';

.content {
  padding: 6em 1em 75px;
  margin: 0 auto;
  max-width: var(--containerWidth);
  width: 100%;
  text-align: center;
  background-color: var(--brand-white);
  overflow: hidden;
}

.content h1 {
  margin-bottom: 0;
  color: #C00D0D;
  font-family: Georgia, serif;
  text-transform: none;
  font-size: 48px;
  padding-bottom: 20px;
  font-weight: 700;
  margin-top: 11px;
}

.content h2 {
  margin: 0;
  color: var(--brand-red);
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5em;
  font-weight: 700;
}

/*.content h2::after {*/
  /*content: '';*/
  /*width: 4em;*/
  /*height: 2px;*/
  /*background-color: var(--brand-black);*/
  /*display: block;*/
  /*margin: 2em auto;*/
/*}*/

.content p {
  font-family: 'Georgia', Times new roman, serif;
  font-size: 1.25em;
  text-align: left;
  font-weight: lighter;
}

.seperator {
  max-width: var(--containerWidth);
  padding: 60px 0 0;
  border-top: 1px solid #ddd;
}

@media screen and (max-width: 1024px) {
  .content {
    padding: 0 1em;
    box-sizing: border-box;
  }
}
