#silla-interactive-container {
  font-size: 14px;
}

.article-sidebar.col-md-4 {
  display: none;
}

.panels-flexible-region-52-center {
  width: 100%;
}

.article-content {
  padding: 0 !important;
  width: 100% !important;
  margin: 0 !important;
}

.menu-ancla,
.panel-separator {
  padding: 0 !important;
  margin: 0 !important
}

.tabs .tabs--primary.nav.nav-tabs {
  margin-bottom: 0;
}

.field-items > .field-item > p,
.article-main-body > .img-container {
  max-width: 756px;
}

@media (min-width: 1200px) {
  .field-items > .field-item > p,
  .article-main-body > .img-container,
  .article-main-body > .author {
    margin-left: 8.33333333%;
    padding-left: 30px;
  }
}s
